.oneBox {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #27272e 0%, #303035 100%);
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #27272e 64.45%, rgba(74, 75, 86, 0.72) 100%);
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition); /* Make sure to define --transition somewhere */
}

.oneBox:hover p {
  color: #5ab424;
}

.oneBox:hover .spanP {
  color: white;
}

.onebox:hover {
  visibility: visible;
  opacity: 1;
}
p:hover {
  color: red;
}
